@import "../../variables";

.header {
  height: 200px;
  width: 100%;
  text-align: center;
  background: rgba(255,255,255,0.3)
}

.main-header {
  margin: 0;
}

.title-container {
  text-decoration: none;
  color: white;
  font-family: "Bungee Shade", sans-serif;
  font-size: 25px;
}
