button {
  border: none;
}

.settings {
  height: 60px;
  width: 60px;
  border-radius: 100px;
  text-align: center;
}

.jokes {
  height: 50px;
  width: 100px;
  margin: 5px;
}

.favorites {
  display: block;
}
