@import "../../variables";
@import "../../reset";


button {
  background: rgb(192, 192, 192);
  border: none;
}

button:hover {
  background: rgb(255, 255, 255);
  cursor: pointer;
}

.favorites {
  display: inline-block;
  height: 35px;
  width: 100px;
  margin: auto;
  border-radius: 5px;
}

.link{
  color: rgba(0,0,0,0);
  width: 0;
}

.Reset {
  height: 35px;
  width: 45px;
  border-radius: 5px;
}

.settings, .jokes {
  position: absolute;
  top: 15px;
  right: 15px;
  height: 60px;
  width: 60px;
  border-radius: 100px;
  text-align: center;
  color: black;
}

.Get {
  position: relative;
  top: 0;
  right: 0;
  height: 50px;
  width: 200px;
  margin: 5px;
  border-radius: 5px;
}

.Set {
  position: relative;
  top: 0;
  right: 0;
  height: 35px;
  width: 35px;
  margin: 5px;
  border-radius: 5px;
}
