@import "../../variables";
@import "../../reset";


.controls-field {
  width: 100%;
  text-align: center;
}

.num-field {
  width: 40px;
  height: 45px;
  border-style: none;
  border-radius: 5px;
  font-size: 25px;
  text-align: center;
  margin: 5px;
}
