@import "../../variables";

.joke {
  position: relative;
  border: 1px solid black;
  margin: 5px;
  flex: 1;
  min-width: 25vw;
  max-width: 50vw;
  min-height: 100px;
  text-align: center;
}

.joke-text {
  vertical-align: middle;
}

.star-btn {
  position: absolute;
  right: 20px;
  bottom: 0;
  color: white;
}

.clicked {
  color: green;
}
