@import "../../variables";

.joke {
  position: relative;
  border: 1px solid black;
  margin: 5px;
  flex: 1;
  min-width: 25vw;
  max-width: 50vw;
  min-height: 50px;
  text-align: center;
  padding: 10px;
}

.joke-text {
  vertical-align: middle;
}

.star-btn {
  float: right;
  margin: 0;
  bottom: 0;
  color: white;
}

.star-btn:hover {
  cursor: pointer;
}

.clicked {
  color: green;
}
